@model WebAPI.ViewModels.BusinessUnitsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Business Unit</h2>

@Html.ActionLink("Add New","New","BusinessUnits")
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Business Unit Names</th>
            <th>Description</th>
            <th>Legal Entity</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.BUWrapperList.Count(); i++)
    {
        <tr>
            <td>@Model.BUWrapperList[i].BusinessUnitName</td>
            <td>@Model.BUWrapperList[i].BusinessUnitDescription</td>
            <td>@Model.BUWrapperList[i].LegalEntityName</td>
            <td>@Html.ActionLink("Edit", "Edit", "BusinessUnits", new { id = Model.BUWrapperList[i].Id }, null)</td>
            <td>@Html.ActionLink("Delete", "Delete", "BusinessUnits", new { id = Model.BUWrapperList[i].Id }, null)</td>
        </tr>

    }
</table>
